<div class="footer">
    <div class="content-wrap">
        <img src="../assets/img/logo.png" alt="logo" class="nav-img">
        <div class="text">
            © 2021. All Rights Reserved. Privacy Policy.
        </div>
        <div class="icon-wrap">
            <div class="icon">
                <i class="fab fa-facebook-f"></i>
            </div>
            <div class="icon">
                <i class="fab fa-twitter"></i>
            </div>
            <div class="icon">
                <i class="fab fa-instagram"></i>
            </div>
            <div class="icon">
                <i class="fab fa-google"></i>
            </div>
            <div class="icon">
                <i class="fab fa-linkedin-in"></i>
            </div>
        </div>
    </div>
</div>
