{% comment %} Lien actuel avec class="active" Nous nous pouvons pas utiliser {%
link %} dans le "if". Donc il faut écrire le lien manuellement. {% endcomment %}

<div class="navbar">
  <div class="nav-top">
    <div class="content-wrap">
      <div class="content">
        <i class="fas fa-phone-alt"></i>{{site.data.company.phone}}
      </div>
      <div class="content">
        <i class="fas fa-map-marker-alt"></i></i>{{site.data.company.address}}
      </div>
      <div class="content">
        <i class="fas fa-envelope"></i>{{site.data.company.email}}
      </div>
    </div>
    <div class="logo-wrap">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-google"></i>
        <i class="fab fa-linkedin-in"></i>
    </div>
  </div>
  <div class="nav-bottom">
    <div class="logo-wrap">
      <i class="fas fa-bars bars" onclick="navMob()"></i>
      <img src="../assets/img/logo.png" alt="logo" class="nav-img">
    </div>
     
      <div class="links-container">
        <a href="{% link accueil.html %}" class="nav-item {% if page.url == '/' %} active {% endif %}">Accueil</a>
        <a href="{% link notre-enterprise.html %}" class="nav-item {% if page.url == '/notre-enterprise' %} active {% endif %}">Notre Enterprise</a>
        <a href="{% link service.html %}" class="nav-item {% if page.url == '/service' %} active {% endif %}">Services</a>
        <a href="{% link contact.html %}" class="nav-item {% if page.url == '/contact' %} active {% endif %}">Contact</a>
        <div class="search-wrap">
          <i class="fas fa-search search" onclick="showElement(); onElement(); offElement();"></i>
          <i class="fal fa-times times" onclick="showElement(); onElement(); offElement();"></i>
          <div class="search-input">
            <input type="text">
            <button><i class="fas fa-search find"></i></button>
          </div>
        </div>
      </div>
      <button class="btn"><a href="{% link devis.html %}" class="nav-item">Devis</a></button>
  </div>
  <div class="nav-mobile">
    <div class="wrap">
      <a href="{% link accueil.html %}" class="nav-item {% if page.url == '/' %} activate {% endif %}">Accueil</a>
      <a href="{% link notre-enterprise.html %}" class="nav-item {% if page.url == '/notre-enterprise' %} activate {% endif %}">Notre Enterprise</a>
      <a href="{% link service.html %}" class="nav-item {% if page.url == '/service' %} activate {% endif %}">Services</a>
      <a href="{% link contact.html %}" class="nav-item {% if page.url == '/contact' %} activate {% endif %}">Contact</a>
      <a href="{% link devis.html %}" class="nav-item {% if page.url == '/devis' %} activate {% endif %}">Devis</a>
    </div>

  </div>
</div>



<script>
  function showElement() {
    document.querySelector(".search-input").classList.toggle("show")
  };
  function onElement() {
    document.querySelector(".times").classList.toggle("on")
  };
  function offElement() {
    document.querySelector(".search").classList.toggle("off")
  };
  function navMob() {
    document.querySelector(".nav-mobile").classList.toggle("display");
  }
window.addEventListener("click", (e) => {
  if( !e.target.matches(".bars")){
    var navmobile = document.querySelector(".nav-mobile");
    navmobile.classList.remove("display")
  }
})
window.addEventListener("scroll", () => {
  if (scrollY > 50){
   var navbar = document.querySelector(".navbar")
    navbar.classList.add("fixed")
  }
  if (scrollY < 100){
   var navbar = document.querySelector(".navbar")
    navbar.classList.remove("fixed")
  }
})
</script>
