<!-- Slider main container -->
<div class="swiper swiper-one">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide bg-one">
      <div class="heading">Fast Rapid Response Unit</div>
      <div class="text">
        Jasmine hotel offers comfortable accommodation with a wide variety of
        rooms, additional services, and amenities available to all our guests.
        We offer the highest level of hospitality and great customer service.
      </div>
      <button class="btn">Learn More</button>
    </div>
    <div class="swiper-slide bg-two">
      <div class="heading">Fast Rapid Response Unit</div>
      <div class="text">
        Jasmine hotel offers comfortable accommodation with a wide variety of
        rooms, additional services, and amenities available to all our guests.
        We offer the highest level of hospitality and great customer service.
      </div>
      <button class="btn">Learn More</button>
    </div>
    <div class="swiper-slide bg-three">
      <div class="heading">Fast Rapid Response Unit</div>
      <div class="text">
        Jasmine hotel offers comfortable accommodation with a wide variety of
        rooms, additional services, and amenities available to all our guests.
        We offer the highest level of hospitality and great customer service.
      </div>
      <button class="btn">Learn More</button>
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination page"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev prev"></div>
  <div class="swiper-button-next next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar scrollbar"></div>
</div>
