<!-- Slider main container -->
<div class="swiper swiper-one">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide bg-one">
      <div class="text-wrap">
        <div class="heading">Fast Rapid Response Unit</div>
        <div class="text">
          Jasmine hotel offers comfortable accommodation with a wide variety of
          rooms, additional services, and amenities available to all our guests.
          We offer the highest level of hospitality and great customer service.
        </div>
        <button class="btn">Learn More</button>
      </div>
      <form action="" class="form">
        <div class="heading">Book an Appointment</div>
        <div class="input-wrap">
          <label for="name">Name</label> <br />
          <input type="text" name="name" id="name" class="inp" />
        </div>
        <div class="input-wrap">
          <label for="number">Number</label> <br />
          <input type="number" name="number" id="number" class="inp" />
        </div>
        <div class="counter-wrap">
          <div class="counter">
            <i class="fas fa-plus"></i>
            <input type="number" placeholder="0" />
            <i class="fas fa-minus"></i>
          </div>
          <div class="counter">
            <i class="fas fa-plus"></i>
            <input type="number" placeholder="0" />
            <i class="fas fa-minus"></i>
          </div>
        </div>
        <button class="btn">Check Availability</button>
      </form>
    </div>
    <div class="swiper-slide bg-two">
      <div class="text-wrap">
        <div class="heading">Fast Rapid Response Unit</div>
        <div class="text">
          Jasmine hotel offers comfortable accommodation with a wide variety of
          rooms, additional services, and amenities available to all our guests.
          We offer the highest level of hospitality and great customer service.
        </div>
        <button class="btn">Learn More</button>
      </div>
      <form action="" class="form">
        <div class="heading">Book an Appointment</div>
        <div class="input-wrap">
          <label for="name">Name</label> <br />
          <input type="text" name="name" id="name" class="inp" />
        </div>
        <div class="input-wrap">
          <label for="number">Number</label> <br />
          <input type="number" name="number" id="number" class="inp" />
        </div>
        <div class="counter-wrap">
          <div class="counter">
            <i class="fas fa-plus"></i>
            <input type="number" placeholder="0" />
            <i class="fas fa-minus"></i>
          </div>
          <div class="counter">
            <i class="fas fa-plus"></i>
            <input type="number" placeholder="0" />
            <i class="fas fa-minus"></i>
          </div>
        </div>
        <button class="btn">Check Availability</button>
      </form>
    </div>
    <div class="swiper-slide bg-three">
      <div class="text-wrap">
        <div class="heading">Fast Rapid Response Unit</div>
        <div class="text">
          Jasmine hotel offers comfortable accommodation with a wide variety of
          rooms, additional services, and amenities available to all our guests.
          We offer the highest level of hospitality and great customer service.
        </div>
        <button class="btn">Learn More</button>
      </div>
      <form action="" class="form">
        <div class="heading">Book an Appointment</div>
        <div class="input-wrap">
          <label for="name">Name</label> <br />
          <input type="text" name="name" id="name" class="inp" />
        </div>
        <div class="input-wrap">
          <label for="number">Number</label> <br />
          <input type="number" name="number" id="number" class="inp" />
        </div>
        <div class="counter-wrap">
          <div class="counter">
            <label for="number">Adult</label> <br />
            <i class="fas fa-plus"></i>
            <input type="number" placeholder="0" id="number" />
            <i class="fas fa-minus"></i>
          </div>
          <div class="counter">
            <label for="number">Children</label> <br/>
            <i class="fas fa-plus"></i>
            <input type="number" placeholder="0" id="number" />
            <i class="fas fa-minus"></i>
          </div>
        </div>
        <button class="btn">Check Availability</button>
      </form>
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination page"></div>

  <!-- If we need navigation buttons -->
  <!-- <div class="swiper-button-prev prev"></div>
  <div class="swiper-button-next next"></div> -->

  <!-- If we need scrollbar -->
  <!-- <div class="swiper-scrollbar scrollbar"></div> -->
</div>
