---
---

// Imports

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  // font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

$base-color-one: #ff682e;
$text-color: #151515;
$fade-color: rgb(230, 224, 224);

// General Styles
.text {
  color: white;
  max-width: 380px;
  letter-spacing: 1.1px;
}
.heading {
  font-size: 2.4rem;
  color: white;
  font-weight: 800;
  @media (max-width: 960px) {
    font-size: 2.1rem;
  }
  @media (max-width: 720px) {
    font-size: 1.8rem;
  }
}
.sub-heading {
  font-size: 1.4rem;
  letter-spacing: 1.1px;
}
.img-heading {
  width: 5rem;
}
.btn {
  border: none;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: 600;
  width: 12rem;
  height: 3.3rem;
  color: white;
  background-color: $base-color-one;
}
.banner {
  width: 100vw;
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(77, 40, 40, 0.5)),
    url(../img/Ambuspeed.jpeg);
  background-position: center center;
  background-size: cover;
  .content-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 10rem 0;
    .heading {
      font-size: 5rem;
      margin-bottom: 5rem;
    }
    .text-wrap {
      display: flex;
      align-items: center;
      .link {
        margin: 0 0.5rem;
        text-decoration: none;
        color: white;
      }
      i {
        margin: 0 0.5rem;
        color: white;
      }
      .text {
        margin: 0 0.5rem;
      }
    }
  }
}
.text-btn {
  display: flex;
  flex-direction: column;
  .heading {
    margin-bottom: 4.8rem;
    position: relative;
    color: $text-color;
    @media (max-width: 720px) {
      font-size: 1.5rem;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: -3rem;
      left: 0;
      background-color: $base-color-one;
      width: 10rem;
      height: 3px;
    }
  }
  .text {
    margin-bottom: 1rem;
    max-width: 380px;
    line-height: 1.5;
    color: $text-color;
  }
  .btn {
    background: transparent;
    border: solid $fade-color 2px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    color: $text-color;
  }
}

// NAVBAR

.navbar {
  width: 100vw;
  .active {
    color: #ff682e !important;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      height: 3px;
      width: 100%;
      background-color: $base-color-one;
    }
  }
  .nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #171424;
    height: 3.6rem;
    width: 100%;
    @media (max-width: 960px) {
      display: none;
    }
    .content-wrap {
      display: flex;
      align-items: center;
      margin-left: 1rem;
      .content {
        margin-right: 1rem;
        color: white;
        font-weight: 100;
        font-size: 1rem;
      }
      i {
        color: $base-color-one;
        font-size: 1.3rem;
        margin-right: 0.4rem;
      }
    }
    .logo-wrap {
      i {
        color: $base-color-one;
        font-size: 1.3rem;
        margin-right: 1.2rem;
      }
    }
  }
  .nav-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
    width: 100%;
    .logo-wrap {
      display: flex;
      align-items: center;
    }
    .nav-img {
      width: 12rem;
      margin-left: 1rem;
    }
    .bars {
      margin: 0rem 1.5rem;
      display: none;
      font-size: 1.5rem;
      @media (max-width: 960px) {
        display: block;
      }
    }
    .links-container {
      display: flex;
      .nav-item {
        margin-right: 3rem;
        text-decoration: none;
        position: relative;
        color: $text-color;
        font-weight: 500;
        font-size: 1.1rem;
        letter-spacing: 1px;
        @media (max-width: 1000px) {
          margin-right: 2rem;
        }
        @media (max-width: 960px) {
          display: none;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: -10px;
          left: 0;
          height: 3px;
          width: 0%;
          background-color: $base-color-one;
          transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
        }
        &:hover:after {
          width: 100%;
        }
      }
      .search-wrap {
        background-color: yellow;
        position: relative;
        .times {
          position: absolute;
          top: -6px;
          left: 0px;
          font-size: 2rem;
          display: none;
          cursor: pointer;
          @media (max-width: 960px) {
            left: -30px;
          }
        }
        .search {
          position: absolute;
          top: -6px;
          left: 0px;
          font-size: 1.4rem;
          cursor: pointer;
          transition: all 1s;
          @media (max-width: 960px) {
            left: -30px;
          }
        }
        .on {
          display: block;
          transform: rotate(180deg);
          transition: all 1s;
        }
        .off {
          display: none;
        }
        .search-input {
          display: none;
          align-items: center;
          justify-content: space-between;
          width: 22rem;
          border-radius: 30px;
          position: absolute;
          bottom: -101px;
          left: -390px;
          height: 4rem;
          z-index: 2;
          background-color: rgba(255, 255, 255, 0.8);
          input {
            background-color: transparent;
            border: none;
            width: 20rem;
            margin-left: 0.5rem;
            padding: 1rem;
            outline: none;
          }
          button {
            border: none;
            background-color: transparent;
            .find {
              margin-right: 0.8rem;
              font-size: 1.5rem;
            }
          }
        }
        .show {
          display: flex;
        }
      }
    }
    .btn {
      margin-right: 1rem;
      a {
        text-decoration: none;
        font-weight: 900;
        color: white;
      }
      background-color: $base-color-one;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        background-color: #ff4901;
      }
      @media (max-width: 960px) {
        display: none;
      }
    }
  }
}

// SLIDES

.swiper-one {
  height: 100vh;
  width: 100vw;
  @media (max-width: 960px) {
    height: 70vh;
  }
  .swiper-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      // opacity: 1 !important;
      .text-wrap {
        display: flex;
        flex-direction: column;
        margin-left: 3rem;
        .heading {
          margin-bottom: 4.8rem;
          position: relative;
          @media (max-width: 720px) {
            font-size: 1.5rem;
          }
          &::before {
            content: "";
            position: absolute;
            bottom: -3rem;
            left: 0;
            background-color: $base-color-one;
            width: 40%;
            height: 3px;
          }
        }
        .text {
          margin-bottom: 3rem;
          max-width: 380px;
          line-height: 1.5;
        }
        .btn {
          background: transparent;
          border: solid white 2px;
          font-size: 1rem;
          font-weight: 700;
        }
      }
      .form {
        margin-right: 3rem;
        background-color: rgba(255, 255, 255, 0.97);
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        label {
          font-size: 0.7rem;
          color: rgb(150, 149, 149);
          letter-spacing: 1.2px;
        }
        .input-wrap {
          .inp {
            margin: 0.5rem 0rem;
          }
          input {
            border: 0px transparent solid;
            width: 90%;
            height: 4rem;
            border-radius: 30px;
          }
        }
        .counter-wrap {
          display: flex;
          align-items: center;
          background-color: white;
          .counter {
            background-color: transparent;
          }
        }
      }
    }
    .bg-one {
      background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url(../img/Urgences-hopital.jpg);
      background-size: cover;
      background-position: center center;
    }
    .bg-two {
      background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url(../img/ambularge.jpeg);
      background-size: cover;
      background-position: center center;
    }
    .bg-three {
      background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(129, 62, 62, 0.2)),
        url(../img/Ambuspeed.jpeg);
      background-size: cover;
      background-position: center center;
    }
  }
  .page {
    display: flex !important;
    align-items: flex-start !important;
    margin: 0 0 2rem 3rem;
    .swiper-pagination-bullet {
      height: 1rem !important;
      width: 1rem !important;
      margin: 0 1rem !important;
    }
  }
}

// Home Section One
.one {
  width: 100vw;
  margin-top: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .head-img-wrap {
    width: 100%;
    position: relative;
    .heading-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .heading {
        color: black;
        position: relative;
        margin-left: 9rem;
        font-weight: 600;
        @media (max-width: 740px) {
          margin-left: 1rem;
        }
        &::before {
          position: absolute;
          content: "ROOMS & SUITES";
          top: -5rem;
          left: -6rem;
          color: rgb(247, 247, 247);
          font-size: 7rem;
          z-index: -1;
          min-width: 90vw;
          @media (max-width: 1000px) {
            font-size: 5rem;
          }
          @media (max-width: 750px) {
            display: none;
          }
        }
      }
      .btn {
        width: 16rem;
        height: 4rem;
        margin-right: 3rem;
        @media (max-width: 740px) {
          margin-right: 0rem;
        }
      }
    }
    .img-heading {
      width: 5rem;
      margin-left: 9rem;
      @media (max-width: 740px) {
        margin-left: 3rem;
      }
    }
  }
  .content-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
    .content {
      .img-wrap {
        width: 24rem;
        height: 15rem;
        @media (max-width: 420px) {
          width: 20rem;
        }
        border-radius: 9px;
        position: relative;
        overflow: hidden;
        margin: 0 0.5rem;
        &:hover .content-img {
          transform: scale(1.1);
        }
        &:hover .btn-wrap {
          opacity: 1;
        }
        .content-img {
          width: 24rem;
          height: 15rem;
          transition: all 1s;
        }
        .btn-wrap {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          left: 0;
          top: 0;
          background: rgba(0, 0, 0, 0.5);
          width: 100%;
          height: 100%;
          border-radius: 9px;
          transition: all 1s;
          opacity: 0;
          .btn {
            width: 8.5rem;
            height: 3rem;
            font-size: 1rem;
            font-weight: 500;
            cursor: pointer;
          }
        }
      }
    }
    .content-text {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem;
      .text {
        color: black;
        font-weight: 500;
        font-size: 1.1rem;
        margin: 1rem 0 2rem 0;
      }
      .colored {
        color: $base-color-one;
      }
    }
  }
}

// Home Section Two

.two {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #f7f7f7;
  .heading {
    color: $text-color;
    margin: 4rem 0 1.5rem 0;
  }
  .content-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    .content {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      padding: 3rem 1.5rem;
      border: solid 1px $fade-color;
      margin: 2rem 0.5rem;
      border-radius: 10px;
      height: 23.5rem;
      transition: all 1s;
      &:hover {
        background-color: white;
        box-shadow: 0.1px 0.1px 10px rgba(0, 0, 0, 0.1);
      }
      img {
        width: 2rem;
        margin: 0 0 2rem 0;
      }
      .sub-heading {
        margin: 0 0 2rem 0;
      }
      .text {
        color: black;
        position: relative;
        margin: 2rem 0 0 0;
        max-width: 240px;
        letter-spacing: 1.1px;
        line-height: 1.5;
        color: rgb(164, 167, 167);
        font-weight: 300;
        &::before {
          position: absolute;
          content: "";
          top: -2em;
          left: 0;
          background-color: $fade-color;
          height: 1px;
          width: 100%;
        }
      }
    }
    #lng {
      height: 25rem;
    }
  }
}

// Home Section Three

.three {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  .heading {
    color: $text-color;
    margin: 4rem 0 1.5rem 0;
  }
  .swiper-two {
    margin-top: 3rem;
    width: 100vw;
    height: 85vh;
    @media (max-width: 420px) {
      height: 70vh;
    }
    .swiper-wrapper {
      .swiper-slide {
        .content-wrap {
          display: flex;
          align-items: center;
          justify-content: center;
          .content {
            width: 24rem;
            height: 34rem;
            border-radius: 20px;
            transition: all 1s;
            position: relative;
            @media (max-width: 420px) {
              width: 20rem;
            }
            &::after {
              position: absolute;
              content: "";
              bottom: 6rem;
              left: 0;
              background-color: $fade-color;
              width: 100%;
              height: 1px;
            }
            &:hover {
              background-color: white;
              box-shadow: 0.1px 0.1px 10px rgba(0, 0, 0, 0.1);
            }
            .img-wrap {
              border-radius: 20px 20px 0 0;
              width: 24rem;
              height: 17rem;
              overflow: hidden;
              img {
                width: 24rem;
                height: 17rem;
                @media (max-width: 420px) {
                  width: 20rem;
                  object-fit: cover;
                }
                border-radius: 20px 20px 0 0;
                transition: all 1s;
                &:hover {
                  transform: scale(1.1);
                }
              }
            }
            .sub-content-wrap {
              padding: 1.8rem;
              .btn-wrap {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 1.5rem;
                .btn {
                  width: 9rem;
                  height: 1.5rem;
                  font-size: 0.8rem;
                  font-weight: 200;
                  letter-spacing: 1.1px;
                }
                .text {
                  color: $text-color;
                  font-size: 0.9rem;
                }
              }
              .sub-heading {
                font-size: 1.2rem;
                margin-bottom: 4rem;
                transition: 1s all;
                &:hover {
                  color: $base-color-one;
                }
              }
              .text-wrap {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .text {
                  color: $fade-color;
                }
                .icon-msg {
                  display: flex;
                  align-items: center;
                  i {
                    color: $fade-color;
                    font-size: 1.25rem;
                    margin-right: 0.3rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .btn {
    width: 18rem;
  }
}

// Section Four

.four {
  width: 100vw;
  background: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5rem;
  .heading {
    color: $text-color;
    margin: 4rem 0 1.5rem 0;
  }
  .swiper-three {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    .swiper-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        .content-wrap {
          margin-top: 4rem;
          width: 80%;
          margin-bottom: 10rem;
          .content {
            display: flex;
            align-items: center;
            justify-content: space-around;
            @media (max-width: 960px) {
              flex-direction: column;
            }
            img {
            }
            .text-wrap {
              @media (max-width: 960px) {
                text-align: center;
              }
              i {
                font-size: 3rem;
                color: $fade-color;
                margin-bottom: 1.5rem;
                @media (max-width: 960px) {
                  margin-top: 1rem;
                }
              }
              .text {
                color: $text-color;
                font-size: 1.3rem;
                max-width: 650px;
                margin-bottom: 2rem;
              }
              .sub-heading {
                color: $base-color-one;
                margin-bottom: 1rem;
              }
              .small-text {
                color: $fade-color;
              }
            }
          }
        }
      }
    }
  }
}

// Home Section Five

.five {
  width: 100vw;
  .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .img-wrap {
      width: 33.33vw;
      height: 20rem;
      display: flex;
      position: relative;
      overflow: hidden;
      @media (max-width: 720px) {
        width: 50vw;
      }
      @media (max-width: 470px) {
        width: 100vw;
      }
      &:hover .text-wrap {
        opacity: 1;
        .sub-heading {
          transform: scale(1.05);
          // letter-spacing: 1.2px;
        }
        .text {
          transform: scale(1.02);
          // letter-spacing: 1.2px;
        }
      }
      &:hover .rotate {
        transform: rotate(-45deg);
        bottom: -8rem;
      }
      &:hover img {
        transform: scale(1.05);
      }

      &:hover i {
        right: 1.5rem;
        bottom: 1.5rem;
        opacity: 1;
      }
      img {
        width: 33.33vw;
        height: 20rem;
        transition: all 0.5s;
        object-fit: cover;
        @media (max-width: 720px) {
          width: 50vw;
        }
        @media (max-width: 470px) {
          width: 100vw;
        }
      }
      .text-wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        opacity: 0;
        transition: all 0.2s;
        @media (max-width: 470px) {
          opacity: 1;
        }
        .sub-heading {
          color: white;
          font-size: 1.9rem;
          font-weight: 500;
          margin-bottom: 0.8rem;
          transform: scale(0.4);
          transition: all 0.4s;
          @media (max-width: 960px) {
            font-size: 1.4rem;
          }
          @media (max-width: 470px) {
            transform: scale(1.05);
          }
        }
        .text {
          text-align: center;
          font-weight: 200;
          transform: scale(0.4);
          transition: all 0.4s;
          @media (max-width: 960px) {
            font-size: 0.8rem;
          }
          @media (max-width: 470px) {
            transform: scale(1.02);
          }
        }
      }
      .rotate {
        height: 10rem;
        width: 20rem;
        background-color: $base-color-one;
        position: absolute;
        right: -7rem;
        bottom: -10rem;
        transition: all 0.8s;
        @media (max-width: 470px) {
          transform: rotate(-45deg);
          bottom: -8rem;
        }
      }
      i {
        position: absolute;
        right: -3rem;
        bottom: 1rem;
        font-size: 1.4rem;
        color: white;
        transition: all 0.3s 0.4s;
        opacity: 0;
        @media (max-width: 470px) {
          right: 1.5rem;
          bottom: 1.5rem;
          opacity: 1;
        }
      }
    }
  }
}

// Section Six

.six {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../img/Urgences-hopital.jpg) fixed;
  background-position: center center;
  background-size: cover;
  .content-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 900px) {
      flex-direction: column;
      align-items: flex-start;
    }
    width: 100%;
    margin: 5rem 0;
    .text-wrap {
      margin-left: 3rem;
      @media (max-width: 900px) {
        margin-left: 2rem;
      }
      .heading {
        color: $base-color-one;
        margin-bottom: 1rem;
      }
      .text {
        color: white;
        max-width: 900px;
        @media (max-width: 900px) {
          margin-bottom: 1.5rem;
        }
      }
    }
    .btn {
      background-color: transparent;
      border: 2px solid white;
      margin-right: 3rem;
      @media (max-width: 900px) {
        margin-left: 2rem;
        margin-right: 0rem;
      }
    }
  }
}

// FOOTER
.footer {
  background-color: #0f0c1d;
  width: 100vw;
  display: flex;
  .content-wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media (max-width: 900px) {
      justify-content: center;
      flex-direction: column;
    }
    width: 100%;
    margin: 3rem 0;
    .nav-img {
      @media (max-width: 900px) {
        margin-bottom: 2rem;
      }
    }
    .text {
      @media (max-width: 900px) {
        margin-bottom: 2rem;
      }
    }
    .icon-wrap {
      display: flex;
      align-items: center;
      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        background-color: #252136;
        margin: 0 0.2rem;
        @media (max-width: 900px) {
          margin-bottom: 2rem;
        }
        i {
          font-size: 1.5rem;
          color: white;
        }
      }
    }
  }
}

// About one

.about-one {
  display: flex;
  align-items: center;
  width: 100vw;
  margin: 4rem 0;
  .img-wrap {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4rem;
    img {
      width: 36rem;
      height: 23rem;
    }
  }
  .text-btn {
    width: 45vw;
    // margin-left: 8rem;
    .heading {
    }
    .bold {
      font-weight: 600;
    }
    .text {
      max-width: 500px;
    }
    .btn {
      margin-top: 0.5rem;
      width: 15rem;
      height: 4rem;
    }
  }
}

// About Section Two
.about-two {
  display: flex;
  width: 100vw;
  background: #f7f7f7;
  .content-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 6rem 0;
    .content {
      margin: 0 0.5rem;
      .icon-wrap {
        display: flex;
        margin-bottom: 0.5rem;
        img {
          width: 2rem;
          margin: 0 1rem 0 0;
        }
        .sub-heading {
          color: $text-color;
        }
      }
      .text {
        color: rgb(87, 85, 85);
        max-width: 270px;
        line-height: 1.7;
        font-weight: 200;
        font-size: 0.9rem;
      }
    }
  }
}

// About Section Three

.about-three{
  display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
  width: 100vw;
  .heading{
    color: $text-color;
    position: relative;
    text-align: center;
    &::before{
      content: "";
      position: absolute;
      bottom: -1.5rem;
      left: 2.4rem;
      height: 3px;
      width: 60%;
      background-color: $base-color-one;
    }
  }
  .content-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 3rem 0;
    .content{
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 2rem 1.4rem;
      img{
        margin-bottom: 1.5rem;
        width: 17rem;
      }
      .text{
        color: $base-color-one;
        font-size: 1.2rem;
        font-weight: 500;
      }
      .position{
        font-style: italic;
        color: rgb(87, 85, 85);
        margin-top: 0.5rem;
        font-size: 1rem;
        font-weight: 400;
      }
      .icon-wrap{
        display: flex;
        align-items: center;
        margin-top: 1.2rem;
        i{
          font-size: 1.2rem;
          margin: 0 1rem;
          color: rgb(87, 85, 85);
        }
      }
    }
  }
}

// About Section Four
.about-four{
  background-color: #29293a;
  display: flex;
  width: 100vw;
  .content-wrap{
    display: flex;
    width: 100%;
    .left{
      width: 50vw;
      .heading-wrap{
        .heading{
          
        }
        .text{
          
        }
      }
      .contents{
        .content{
          .text{

          }
          .round{

          }
          .text-wrap{

          }
        }
      }
    }
    .right{
      .img-wrap{
        img{
          width: 20rem;
        }
      }
    }
  }
}
