---
---

// Imports

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  // font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

$base-color-one: #ff682e;
$text-color: #151515;

// General Styles
.text {
  color: white;
  max-width: 380px;
}
.heading {
  font-size: 2.4rem;
  color: white;
  font-weight: 800;
  @media (max-width: 960px) {
    font-size: 2.1rem;
  }
  @media (max-width: 720px) {
    font-size: 1.8rem;
  }
}
.sub-heading {
  font-size: 1.4rem;
}
.img-heading {
  width: 5rem;
}
.btn {
  border: none;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: 600;
  width: 12rem;
  height: 3.3rem;
  color: white;
  background-color: $base-color-one;
}

// NAVBAR

.navbar {
  width: 100vw;
  .active {
    color: #ff682e !important;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      height: 3px;
      width: 100%;
      background-color: $base-color-one;
    }
  }
  .nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #171424;
    height: 3.6rem;
    width: 100%;
    @media (max-width: 960px) {
      display: none;
    }
    .content-wrap {
      display: flex;
      align-items: center;
      margin-left: 1rem;
      .content {
        margin-right: 1rem;
        color: white;
        font-weight: 100;
        font-size: 1rem;
      }
      i {
        color: $base-color-one;
        font-size: 1.3rem;
        margin-right: 0.4rem;
      }
    }
    .logo-wrap {
      i {
        color: $base-color-one;
        font-size: 1.3rem;
        margin-right: 1.2rem;
      }
    }
  }
  .nav-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
    width: 100%;
    .logo-wrap {
      display: flex;
      align-items: center;
    }
    .nav-img {
      width: 12rem;
      margin-left: 1rem;
    }
    .bars {
      margin: 0rem 1.5rem;
      display: none;
      font-size: 1.5rem;
      @media (max-width: 960px) {
        display: block;
      }
    }
    .links-container {
      display: flex;
      .nav-item {
        margin-right: 3rem;
        text-decoration: none;
        position: relative;
        color: $text-color;
        font-weight: 500;
        font-size: 1.1rem;
        letter-spacing: 1px;
        @media (max-width: 1000px) {
          margin-right: 2rem;
        }
        @media (max-width: 960px) {
          display: none;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: -10px;
          left: 0;
          height: 3px;
          width: 0%;
          background-color: $base-color-one;
          transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
        }
        &:hover:after {
          width: 100%;
        }
      }
      .search-wrap {
        background-color: yellow;
        position: relative;
        .times {
          position: absolute;
          top: -6px;
          left: 0px;
          font-size: 2rem;
          display: none;
          cursor: pointer;
          @media (max-width: 960px) {
            left: -30px;
          }
        }
        .search {
          position: absolute;
          top: -6px;
          left: 0px;
          font-size: 1.4rem;
          cursor: pointer;
          transition: all 1s;
          @media (max-width: 960px) {
            left: -30px;
          }
        }
        .on {
          display: block;
          transform: rotate(180deg);
          transition: all 1s;
        }
        .off {
          display: none;
        }
        .search-input {
          display: none;
          align-items: center;
          justify-content: space-between;
          width: 22rem;
          border-radius: 30px;
          position: absolute;
          bottom: -101px;
          left: -390px;
          height: 4rem;
          z-index: 2;
          background-color: rgba(255, 255, 255, 0.8);
          input {
            background-color: transparent;
            border: none;
            width: 20rem;
            margin-left: 0.5rem;
            padding: 1rem;
            outline: none;
          }
          button {
            border: none;
            background-color: transparent;
            .find {
              margin-right: 0.8rem;
              font-size: 1.5rem;
            }
          }
        }
        .show {
          display: flex;
        }
      }
    }
    .btn {
      margin-right: 1rem;
      a {
        text-decoration: none;
        font-weight: 900;
        color: white;
      }
      background-color: $base-color-one;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        background-color: #ff4901;
      }
      @media (max-width: 960px) {
        display: none;
      }
    }
  }
}

// SLIDES

.swiper-one {
  height: 100vh;
  width: 100vw;
  @media (max-width: 960px) {
    height: 70vh;
  }
  .swiper-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .text-wrap {
        display: flex;
        flex-direction: column;
        margin-left: 3rem;
        .heading {
          margin-bottom: 4.8rem;
          position: relative;
          @media (max-width: 720px) {
            font-size: 1.5rem;
          }
          &::before {
            content: "";
            position: absolute;
            bottom: -3rem;
            left: 0;
            background-color: $base-color-one;
            width: 40%;
            height: 3px;
          }
        }
        .text {
          margin-bottom: 3rem;
          max-width: 380px;
          line-height: 1.5;
        }
        .btn {
          background: transparent;
          border: solid white 2px;
          font-size: 1rem;
          font-weight: 700;
        }
      }
      .form {
        margin-right: 3rem;
        background-color: rgba(255, 255, 255, 0.97);
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        label {
          font-size: 0.7rem;
          color: rgb(150, 149, 149);
          letter-spacing: 1.2px;
        }
        .input-wrap {
          .inp {
            margin: 0.5rem 0rem;
          }
          input {
            border: 0px transparent solid;
            width: 90%;
            height: 4rem;
            border-radius: 30px;
          }
        }
        .counter-wrap {
          display: flex;
          align-items: center;
          background-color: white;
          .counter {
            background-color: transparent;
          }
        }
      }
    }
    .bg-one {
      background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url(../img/Urgences-hopital.jpg);
      background-size: cover;
      background-position: center center;
    }
    .bg-two {
      background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url(../img/ambularge.jpeg);
      background-size: cover;
      background-position: center center;
    }
    .bg-three {
      background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(129, 62, 62, 0.2)),
        url(../img/Ambuspeed.jpeg);
      background-size: cover;
      background-position: center center;
    }
  }
  .page {
    display: flex !important;
    align-items: flex-start !important;
    margin: 0 0 2rem 3rem;
    .swiper-pagination-bullet {
      height: 1rem !important;
      width: 1rem !important;
      margin: 0 1rem !important;
    }
  }
}

// Home Section One
.one {
  width: 100vw;
  margin-top: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .head-img-wrap {
    width: 100%;
    position: relative;
    .heading-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .heading {
        color: black;
        position: relative;
        margin-left: 9rem;
        font-weight: 600;
        @media (max-width: 740px) {
          margin-left: 1rem;
        }
        &::before {
          position: absolute;
          content: "ROOMS & SUITES";
          top: -5rem;
          left: -6rem;
          color: rgb(247, 247, 247);
          font-size: 7rem;
          z-index: -1;
          min-width: 90vw;
          @media (max-width: 1000px) {
            font-size: 5rem;
          }
          @media (max-width: 750px) {
            display: none;
          }
        }
      }
      .btn {
        width: 16rem;
        height: 4rem;
        margin-right: 3rem;
        @media (max-width: 740px) {
          margin-right: 0rem;
        }
      }
    }
    .img-heading {
      width: 5rem;
      margin-left: 9rem;
      @media (max-width: 740px) {
        margin-left: 3rem;
      }
    }
  }
  .content-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
    .content {
      .img-wrap {
        width: 24rem;
        height: 15rem;
        border-radius: 9px;
        position: relative;
        overflow: hidden;
        margin: 0 0.5rem;
        &:hover .content-img {
          transform: scale(1.1);
        }
        &:hover .btn-wrap {
          opacity: 1;
        }
        .content-img {
          width: 24rem;
          height: 15rem;
          transition: all 1s;
        }
        .btn-wrap {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          left: 0;
          top: 0;
          background: rgba(0, 0, 0, 0.5);
          width: 100%;
          height: 100%;
          border-radius: 9px;
          transition: all 1s;
          opacity: 0;
          .btn {
            width: 8.5rem;
            height: 3rem;
            font-size: 1rem;
            font-weight: 500;
            cursor: pointer;
          }
        }
      }
    }
    .content-text {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem;
      .text {
        color: black;
        font-weight: 500;
        font-size: 1.1rem;
        margin: 1rem 0 2rem 0;
      }
      .colored {
        color: $base-color-one;
      }
    }
  }
}

// Home Section Two
.two {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #f7f7f7;
  .heading {
    color: $text-color;
    margin: 4rem 0 1.5rem 0;
  }
  .img-heading {
  }
  .content-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    .content{
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      padding: 3rem 1.5rem;
      border: solid 1px rgb(230, 224, 224);
      margin: 2rem 0.5rem;
      border-radius: 10px;
      height: 23.5rem;
      transition: all 1s;
      &:hover{
        background-color: white;
        box-shadow: 0.1px 0.1px 10px rgba(0, 0, 0, 0.1);
      }
      img{
        width: 2rem;
        margin: 0 0 2rem 0;
      }
      .sub-heading{
        margin: 0 0 2rem 0;
      }
      .text{
        color: black;
        position: relative;
        margin: 2rem 0 0 0;
        max-width: 240px;
        letter-spacing: 1.1px;
        line-height: 1.5;
        color: rgb(164, 167, 167);
        font-weight: 300;
        &::before{
          position: absolute;
          content: "";
          top: -2em;
          left: 0;
          background-color: rgb(230, 224, 224)  ;
          height: 1px;
          width: 100%;
        }
      }
      
    }
    #lng{
      height: 25rem;
    }
  }
  
}
