---
---

// Imports
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  // font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

$base-color-one: #ff682e;
$text-color: #151515;

// General Styles
.text {
}
.btn {
  border: none;
  border-radius: 30px;
  width: 12rem;
  height: 3.3rem;
}

.navbar {
  .active {
    color: #ff682e;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      height: 3px;
      width: 100%;
      background-color: $base-color-one;
    }
  }
  .nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #171424;
    height: 3.6rem;
    @media (max-width: 960px) {
      display: none;
    }
    .content-wrap {
      display: flex;
      align-items: center;
      margin-left: 1rem;
      .content {
        margin-right: 1rem;
        color: white;
        font-weight: 100;
        font-size: 1rem;
      }
      i {
        color: $base-color-one;
        font-size: 1.3rem;
        margin-right: 0.4rem;
      }
    }
    .logo-wrap {
      i {
        color: $base-color-one;
        font-size: 1.3rem;
        margin-right: 1.2rem;
      }
    }
  }
  .nav-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
    .logo-wrap{
      display: flex;
      align-items: center;
    }
    .nav-img {
      width: 12rem;
      margin-left: 1rem;
    }
    .bars{
      margin: 0rem 1.5rem;
      display: none;
      font-size: 1.5rem;
      @media (max-width: 960px) {
        display: block;
      }
    }
    .links-container {
      display: flex;
      .nav-item {
        margin-right: 3rem;
        text-decoration: none;
        position: relative;
        color: $text-color;
        font-weight: 500;
        font-size: 1.1rem;
        letter-spacing: 1px;
        @media (max-width: 960px) {
          display: none;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: -10px;
          left: 0;
          height: 3px;
          width: 0%;
          background-color: $base-color-one;
          transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
        }
        &:hover:after {
          width: 100%;
        }
      }
      .search-wrap {
        position: relative;
        .times {
          position: absolute;
          top: -6px;
          left: 0;
          font-size: 2rem;
          display: none;
        }
        .search {
          font-size: 1.4rem;
          cursor: pointer;
        }
        .search-input{
          display: flex;
          align-items: center;
          justify-content: space-between;
          opacity: 0;
          width: 22rem;
          background-color: rgba(255, 255, 255, 0.9);
          border-radius: 30px;
          position: absolute;
          bottom: -101px;
          left: -320px;
          height: 4rem;
          input{
            background-color: transparent;
            border: none;
            width: 20rem;
            margin-left: 0.5rem;
            padding: 1rem;
            outline: none;
          }
          button{
            border: none;
            background-color: transparent;
            i{
              margin-right: 0.8rem;
            }
          }
        }
      }
    }
    .btn {
      margin-right: 1rem;
      a {
        text-decoration: none;
        font-weight: 900;
        color: white;
      }
      background-color: $base-color-one;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        background-color: #ff4901;
      }
      @media (max-width: 960px) {
        display: none;
      }
    }
  }
}
